<!-- Navbar Starts -->
<nav>
    <div class="branding">
        <i class="fas"
        [ngClass]="{ 'fa-bars': !showSidebar, 'fa-times': showSidebar }" 
        (click)="toggleSidebar()"></i>
        <p>ELP</p>
    </div>

    <div class="user-info" *ngIf="!isLoggedIn">
        <button class="button-outline">Sign Up</button>
        <button class="button" (click)="login()">Login</button>
    </div>
    <div class="user-info" *ngIf="isLoggedIn">
        <p>{{ getUserName() }}</p>
        <button class="button-outline" (click)="logout()">Logout</button>
    </div>
</nav>
<!-- Navbar Ends -->

<!-- Backdrop Starts -->
<div 
    class="backdrop"   
    [ngClass]="{ hidden: !showSidebar }" 
    (click)="toggleSidebar()">
</div>
<!-- Backdrop Ends -->

<!-- Sidebar Starts -->
<div class="sidebar" [ngClass]="{ hidden: !showSidebar }">
    <div class="wrapper">
        <div class="user-info" *ngIf="!isLoggedIn">
            <img src="../../../../assets/image/male_avatar.svg" alt="">
            <p>No User</p>
            <p>(Please Login)</p>
        </div>
        <div class="user-info" *ngIf="isLoggedIn">
            <img *ngIf="userImage; else defaultImage" [src]="userImage" alt="">
            <ng-template #defaultImage>
                <img src="../../../../assets/image/male_avatar.svg" alt="">
            </ng-template>
            <p>{{ getUserName() }}</p>
        </div>
        <div class="menu" *ngIf="!isLoggedIn" (click)="toggleSidebar()">
            <button class="button-outline">Sign Up</button>
            <button class="button" (click)="login()">Login</button>
        </div>
        <div class="menu" *ngIf="isLoggedIn" (click)="toggleSidebar()">
            <a *ngFor="let menuItem of getActiveMenu()" [routerLink]="menuItem.route">
                {{ menuItem.label }}
            </a>
            <button class="button-outline" (click)="logout()">Logout</button>
        </div>
    </div>
</div>
<!-- Sidebar Ends -->